h1 {
	text-transform: uppercase;
  font-style: italic;
  font-size: 24px;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 34px;
  font-weight: normal;
  color: white;
  }
h2 {
	text-transform: uppercase;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
}
h3{
font-family: 'William', serif;
margin: 0;
font-size: 15px;
text-transform: uppercase;
line-height: 18px;
font-weight: normal;
color: white;
}
p {
	font-family: 'Inter', sans-serif;
  text-align: center;
}
img {
  width: 230px;
  height:230px;
  margin-bottom: 50px;
}
div {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  width: 500px;
  height: 500px;
  text-align: center;
  margin: auto;
}
